.git
.gitignore
node_modules
vendor

backups
database

storage

bootstrap/cache/*.php
!bootstrap/cache/.gitignore

public/build
public/hot
public/storage

.env
.env.*
!.env.example

.npm-cache
.composer-cache

tests
.phpunit.cache
phpunit.xml

.editorconfig
.eslintrc.*
.prettierrc.*
*.md

docker-compose*.yml
Dockerfile
.dockerignore
