.git
.gitignore
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.*
!.env.example
*.md
tests
.phpunit.cache
phpunit.xml
.editorconfig
.eslintrc.*
.prettierrc.*
composer.lock
README.md
CLAUDE.md
.dockerignore
Dockerfile
docker-compose*.yml
backups

